<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1> Are you sure you want to delete {{restaurant.name}}? </h1>
    <form action="{{ url_for('deleteRestaurant',restaurant_id = restaurant.id)}}" method = 'post'>
        <input type='submit', value = 'Delete'>
    </form>
    <a href = '{{url_for('restaurants')}}'> Cancel </a>
</body>
</html>
