<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1> Are you sure you want to delete {{item.name}}? </h1>
    <form action="{{ url_for('deleteMenuItem',restaurant_id = item.restaurant_id, menu_id=item.id)}}" method = 'post'>
        <input type='submit', value = 'Delete'>
    </form>
    <a href = '{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}'> Cancel </a>
</body>
</html>
