<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1> Edit Menu Item </h1>
    <form action="{{ url_for('editMenuItem',restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'post'>
        <dl>
        	<dt>Name:</dt>
        		<dd><input type ='text' size='30' name='name' placeholder = '{{item.name }}'></dd>
        	<dt>Description:</dt>
        		<dd><textarea name = 'description' rows='5' cols='40' placeholder = '{{item.description }}'></textarea></dd>
        	<dt>Price:</dt>
        		<dd><input type = 'text' size = '8' name='price' placeholder = '{{item.price}}'></dd>
        	<dt>Course:</dt>

        	{% if item.course == 'Appetizier' %}
    		      <dd><input type ='radio' name='course' value='Appetizer'checked >Appetizer</dd>
        	{%else%}
        	   <dd><input type ='radio' name='course' value='Appetizer' >Appetizer</dd>
            {% endif %}

            {% if item.course == 'Entree' %}
               <dd><input type ='radio' name='course' value='Entree' checked>Entree</dd>
            {%else%}
        	   <dd><input type ='radio' name='course' value='Entree'>Entree</dd>
            {% endif %}

        	{% if item.course == 'Dessert'%}
        	   <dd><input type ='radio' name='course' value='Dessert'checked >Dessert</dd>
        	{% else %}
        	   <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
        	{% endif %}


        	{%if item.course =='Beverage'%}
        		<dd><input type ='radio' name='course' value='Beverage'checked >Beverage</dd>
        	{% else %}
        		<dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
        	{% endif %}
        </dl>
        <input type='submit' value='Edit'>
        <a href = '{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}'> Cancel </a>
    </form>
</body>
</html>
