<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class = 'pane'>
        <div class ='header'>
            <h1>New Restaurant</h1>
        </div>

        <form action="{{ url_for('newRestaurant')}}" method = 'post'>
        <dl>
        	<dt>Name:</dt>
        	<dd><input type ='text' size='30' name='name'></dd>
        </dl>
        <input type='submit' value='Create'>
        </form>
    </div>
</body>
</html>
