<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class = 'pane'>
		<h1>Welcome to THE RESTAURANTS</h1>
		<a href="{{url_for('newRestaurant')}}" > <h3> Create a New Restaurant </h3> </a>
		{% for restaurant in all_restaurants %}
			<a href = "{{url_for('restaurantMenu', restaurant_id = restaurant.id)}}"><p>{{restaurant.name}}</p></a>
			<p><a href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">Edit Restaurant</a></p>
			<p><a href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">Delete Restaurant</a></p>
		{% endfor %}
	</div>
</body>
</html>
